.addTodo{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    flex-wrap: wrap;
}
.addTodo__input{
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem !important;
    background-color: white !important;
    border: 2px solid white !important;
}



.addTodo__btn{
    margin-left: 1rem !important;
    width: 10%;
    text-align: center;
    color: white !important;
    background-color: brown !important;
}